/* Barra de Navegacion */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    
}
.nav-button {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    font-family:monospace;
}
.nav-button:hover {
    color: red;
    transform: scale(1.3); /* Aumentar el tamaño sin cambiar la barra */
}
/* Color de la barra de navegacion */
.bbg-dark{
    background-color: rgb(0, 0, 0);
    
    }
    /* Color efecto y sombra de la barra de navegacion */
    .navbar {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
        background: linear-gradient(135deg, #000000, #2d2c2c);
        
    }
    /* Fuente de letras de la barra */
    .rubik-vinyl-regular {
        font-family: "Rubik Vinyl", serif;
        font-weight: 400;
        font-style: normal;
      }

      .bodyP {
        margin: 0;
        padding: 0;
        background-image: url('/img/fondo.jpg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }


      /* Texto desplazante */
      .texto-desplazante {
        display: inline-block; /* Permite que el texto ocupe solo el espacio requerido */
        animation: desplazar 15s linear infinite; /* Animación de desplazamiento */
    }
    
    @keyframes desplazar {
        0% {
            transform: translateX(100%); /* Comienza fuera de la vista a la derecha */
        }
        100% {
            transform: translateX(-100%); /* Termina fuera de la vista a la izquierda */
        }
    }

    /* Fuente Letras que pasan */

    .codystar-light {
        font-family: "Codystar", serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .codystar-regular {
        font-family: "Codystar", serif;
        font-weight: 400;
        font-style: normal;
      }
    
    /* ImagenPrincipal */
    .contenedor {
        width:100%; /* Ocupar todo el ancho */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Alinea verticalmente */
        padding: 20px;
        margin: 0;
        height: 120vh; /* Altura de la ventana gráfica */
    }

    /* Imagenes que cambian */

    @keyframes fondo-cambiar {
        0% {
            background-image: url('/img/pappo1.avif');
        }
        50% {
            background-image: url('/img/pappo2.webp');
        }
        100% {
            background-image: url('/img/pappo3.jpg');
        }
    }
    
  /* Estilos generales para .cuadro */
.cuadro {
   
    max-width: 50%; /* Ancho máximo del 50% para pantallas grandes */
    height: 70vh; /* Altura adaptativa */
    animation: fondo-cambiar 10s infinite; /* Cambia cada 10 segundos */
    background-size: cover; /* Cubrir todo el cuadro */
    border: 2px solid #fcfcfc;
    background-position: center; /* Centrar la imagen de fondo */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Sombra */
    position: relative; /* Posición relativa para el contenido interno */
    margin: 20px 0; /* Espacio superior e inferior */
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para la imagen dentro de .cuadro */
  .cuadro img {
    position: absolute;
    max-width: 100%; /* La imagen principal ocupa todo el ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 10%;
    object-fit: cover; /* Asegura que la imagen cubra el área */
  }
  
  /* Estilos para el contenido dentro de .cuadro */
  .contenido {
    padding: 1%; /* Espacio interno */
    color: white; /* Color del texto */
    margin: 0; /* Elimina márgenes */
    font-size: 200%; /* Tamaño de fuente */
    white-space: nowrap; /* Evita que el texto se divida */
    overflow: hidden; /* Oculta el texto que se desborda */
    position: relative; /* Para que el texto se posicione dentro de su contenedor */
  }
  
  /* Media query para pantallas medianas */
  @media (min-width: 481px) and (max-width: 768px) {
    .cuadro {
      margin-top: 20%;
      max-width: 95%; /* Ancho mayor en pantallas más pequeñas */
      height: 70vh; /* Ajusta la altura también */
    }
    .contenedor {

      height: auto; /* Ajusta la altura automáticamente */
    }
    .cuadro img {
        margin-top: 1%;
      }
  }
  
  /* Media query para pantallas pequeñas */
  @media (max-width: 480px) {
    .cuadro {
    margin-top: 30%;
      max-width: 100%; /* Ancho mayor en pantallas más pequeñas */
      max-height: 400px; /* Ajusta la altura también */
    }
    .cuadro img {
      margin-top: 30%;
    }
    .contenedor {
      height: auto; /* Ajusta la altura automáticamente */
    }
  }
  
  /* Estilos para .containerFlyer */
  .containerFlyer {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh; /* Altura del contenedor */
    max-width: 100%;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas */
  }
  
  /* Estilos para .cuadroFlyer */
  .cuadroFlyer {
    border: 2px solid #ffffff;
    background-color: rgba(117, 0, 0, 0.9); /* Fondo con opacidad */
    padding: 10px; /* Espacio entre el borde y las imágenes */
    border-radius: 30px; /* Bordes redondeados */
    max-width: 80%;
  }
  
  /* Estilos para la imagen dentro de .cuadroFlyer */
  .flyer {
    max-width: 100%; /* Ancho al 100% del contenedor */
    max-height: 100%; /* Altura ajustada automáticamente */
    object-fit: contain;
  }
  
  /* Media query para pantallas medianas */
  @media (min-width: 481px) and (max-width: 768px) {
    .containerFlyer {
      height: auto; /* Ajusta la altura automáticamente */
    }
  }
  

/*  */
    .tituloShow{
        text-align: center;
        color: rgb(255, 255, 255); 
        background-color: #000000;
        border-radius: 25px;
        border: 2px solid #ffffff;
    }

    /* videos */
    .video-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columnas */
      gap: 20px; /* Espacio entre los videos */
      padding: 20px; /* Espaciado interno */
      max-width: 1200px; /* Ancho máximo de la cuadrícula */
      margin: auto; /* Centrar la cuadrícula */
      
  }

    .video-container {
      background-color: rgba(0, 0, 0, 0.9); /* Fondo con opacidad */
      display: flex;
      flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
      align-items: center; /* Centra horizontalmente */
      padding: 15px; /* Espaciado interno */
      max-width: 640px; /* Ancho máximo del marco */
      margin: auto; /* Centrar el marco */

  }
  .video-container:hover {
    background-color: rgba(117, 0, 0, 0.9); /* Fondo con opacidad */
}
  .video-description {
      text-align: center; /* Centrar el texto de la descripción */
      margin-top: 10px; /* Espaciado superior */
      font-family: Arial, sans-serif; /* Fuente de la descripción */
      color: #ffffff; /* Color del texto */
  }
  @media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
        margin-top: 20%;
    }
}
@media (min-width: 481px) and (max-width: 900px) {
  .video-grid {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    margin-top: 10%;
  }
}


/* Efecto de hover en la imagen del logo */
.navbar-brand img {
  transition: transform 0.3s ease; /* Transición suave */
}

.navbar-brand:hover img {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen al 110% */
}


